/* All <body> elements */
body {
  background: #00b3e6;
}

/* All <div> elements */
div {
  width:700px; 
  margin:auto; 
  font-family: "Helvetica Neue";
  background: white; 
  padding:30px;
}

/* All <h1> elements */
#main-header {
  font-size: 22px;
}

/* All <p> elements */
.perspective-questions {
  font-style: italic;
}

*{color: red;
}